<h2>Products</h2>

<div *ngFor="let productEl of product">
  <h3><a [routerLink]="['/products', productEl.id]" [title]="productEl.name + ' details'">{{ productEl.name }}</a></h3>
  <p *ngIf="productEl.description">Description : {{productEl.description}}</p>
  <button (click)="share()">Share</button>
  <app-product-alerts [product]="productEl" (notify)="onNotify()"></app-product-alerts>
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->